body {
  margin:200px;
    background-color:aliceblue;
  }
  
.numero {
    color:green
    
}

.container{
text-align: center;
}
    
.col {
  margin-top: 10px;
}

#numero {
  border: 1px solid #000;
  text-align: center;
}